<div class="container">
  <div class="content">
    <div class="logo">
      <app-logo></app-logo>
    </div>
    <h2 class="title">Observability for cash flow.</h2>
    <div class="button-container">
      <asl-google-signin-button></asl-google-signin-button>
      <!-- <button (click)="loginWithGoogle()" class="button google-button" mat-stroked-button color="primary">
        <img width="28px" src="assets/google.png" alt="google">
        Log in with Google</button> -->
    </div>
  </div>
</div>
