@use '../../../commonstyles' as *;


.progress-bar {
  width: 100%;
  height: 6px;
  border: 1px solid black;
  box-sizing: content-box;
}

.progress {
  display: block;
  position: relative;
  height: 101%;
  width: 0%;
  overflow: hidden;
  background: black;
  animation: progressBar 1s ease-in-out;
  animation-fill-mode:both;
}

@keyframes progressBar {
  0% { width: 0; }
}
