@use '../../../commonstyles' as *;


.progress-bar {
  width: 100%;
  box-sizing: content-box;
  height: 6px;
  border: 1px solid black;
  position: relative;
}

.progress {
  display: block;
  position: relative;
  height: 100%;
  width: 0%;
  overflow: hidden;
  background: black;
  animation: progressBar 1s ease-in-out;
  animation-fill-mode:both;
}

.indicator {
  position: absolute;
  @include text-bold;
  text-align: end;
  padding: 6px 0px;
  right: -10%;
}

@keyframes progressBar {
  0% { width: 0; }
}
