<div class="container">
  <div class="form-container">

    <div class="feild">
      <label class="input-label">Name</label>
      <input class="input-field" matInput>
    </div>
    <div class="feild">
      <label class="input-label">Email</label>
      <input class="input-field" matInput>
    </div>
    <div class="feild">
      <label class="input-label">Password</label>
      <input class="input-field" matInput>
    </div>
    <div class="feild">
      <label class="input-label">Confirm Password</label>
      <input class="input-field" matInput>
    </div>
    <div class="button-container">
      <div>
        <button class="button" mat-flat-button color="primary">Sign Up</button>
      </div>
      <div>
        <button [routerLink]="['/auth/login']" class="button google-button" mat-stroked-button color="primary">
         Already have an Account</button>
      </div>
    </div>
  </div>
