<div class="form-container" [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Transaction Type</mat-label>
    <mat-select formControlName="type">
      <mat-option value="expense">Expense</mat-option>
      <mat-option value="income">Income</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="category-feild" appearance="outline">
    <mat-label>Category</mat-label>
    <input matInput  formControlName="category" readonly>
    <mat-hint>Choose a category from the category tree.</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Transaction date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field  appearance="fill">
    <mat-label>Remark</mat-label>
    <input matInput type="text" formControlName="remarks" name="remarks">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Amount</mat-label>
    <input matInput type="number" formControlName="amount" name="amount">
  </mat-form-field>
</div>
