.selected-category {
  display: inline;
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.clear-button {
  cursor: pointer;
  color: white;
  background: black;
  font-size: 10px;
  padding: 4px;
  border: none;
  margin-left: 12px;
}

.badge-content {
  display: flex;
  align-items: center;

  mat-icon {
    margin-left: 4px;
    border-left: 1px solid;
  }
}
