$border-color: #BDBDBD;

.logo {
  height: 80px;
  padding-top: 24px;
  border-spacing: 9px;
  border-bottom: .5px solid $border-color;
}

.logo-container {
  width: 34px;
  padding: 10px 6px 8px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;

  h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: white;
    font-size: 44px;
    margin: 0;
    padding: 0;
  }
}
