<div class="container">
  <div class="form-container">


    <div>
        <label class="input-label">Email</label>
        <input class="input-field" matInput>
     </div>
  <div>
    <button class="button" mat-flat-button color="primary">Reset Password</button>
   </div>
   <div class="signup-desc">
     <p>Enter your registered email Id to request a password reset link</p>
   </div>
   <div>
    <button [routerLink]="['/auth/login']" class="button google-button" mat-stroked-button color="primary">

      Back to Login</button>
   </div>
  </div>
