<div class="item-row" (click)="edit(transaction?.id)">
  <div class="first">
    <mat-icon>{{getIcon()}}</mat-icon>
    <div>
      <span class="title">{{transaction?.remarks | titlecase}}</span>
      <span class="subtitle">{{transaction?.category | category}}</span>
    </div>
  </div>
  <div class="middle" *ngIf="transaction?.tags?.length">
    <span class="badge" *ngFor="let t of transaction?.tags">{{t}}</span>
  </div>
  <div class="last">
     {{transaction?.amount | usercurreny}}
  </div>
</div>
