<div class="container">
  <div class="form-container">


    <div>
        <label class="input-label">Email</label>
        <input class="input-field" matInput>
     </div>
     <div class="password-feild">
      <label class="input-label">Password</label>
      <input class="input-field" matInput>
   </div>
   <a [routerLink]="['/auth/forgot-password']"><span class="forgot-password-link">Forgot Password</span></a>
   <div>
    <button class="button" mat-flat-button color="primary">Log In</button>
   </div>
   <div class="signup-desc">
     <p>Don’t have an account? <a [routerLink]="['/auth/signup']"><span class="sign-up-link">Sign up</span></a></p>

     <p>
       or
     </p>
   </div>
   <div>
    <button class="button google-button" mat-stroked-button color="primary">
      <img width="28px" src="assets/google.png" alt="google">
      Log in with Google</button>
   </div>
  </div>
