@use "../../../../commonstyles" as *;

.content {
  height: calc(100vh - 361px);
  overflow: scroll;
  padding: 0 4px 4px 4px;

  @media screen and (max-width: $mobile-bp) {
    padding: 0 4px 10px;
  }
}

.item-row {
  margin-bottom: 30px;
}

.last {
  height: 50px;
}

.info {
  display: flex;
  justify-content: space-between;
}

.info-text {
  @include text-bold;
}
